{% extends 'weatherupdates/base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center my-5 ">
        <div class="col-sm-5">
            <div class="mt-4 p-5 bg-info text-white rounded mb-3">
                <h1>Weather Update App</h1>
            </div>
            <form action="." method="POST">
                {% csrf_token %}
                <div class="input-group">
                  <input type="text" required class="form-control" name="city" placeholder="Search City.......">
                  <div class="input-group-append">
                    <button class="btn btn-success" type="submit">
                      Search
                    </button>
                  </div>
                </div>
              </form>
              <hr>
             
            <div class="card">
                <div class="card-body">
                    <img src=" http://openweathermap.org/img/wn/{{weatherupdates.icon}}.png" alt="No Icon">
                    <div class="card-text"><h5>City: {{weatherupdates.city}}</h5></div>
                    <div class="card-text"><h5>{{weatherupdates.temparature}}</h5></div>
                    <div class="card-text"><h5>{{weatherupdates.description}}</h5></div>
                    <div class="card-text"><h5>{{weatherupdates.humidity}}</h5></div>
                    <div class="card-text"><h5>{{weatherupdates.pressure}}</h5></div>
                    <div class="card-text"><h5>{{weatherupdates.windspeed}}</h5></div>
                    <div class="card-text"><h5>{{weatherupdates.time}}</h5></div>
                </div>
            </div>
           
        </div>
        
    </div>
</div>

{% endblock%}